@font-face {
  font-family: 'Barlow';
  src: url("../fonts/barlow/Barlow-Light.ttf") format('ttf'), url("../fonts/barlow/Barlow-Light.woff") format('woff');
  ;
  font-weight: 200;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/barlow/Barlow-Regular.ttf") format('ttf'), url("../fonts/barlow/Barlow-Regular.woff") format('woff');
  ;
  font-weight: 400;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/barlow/Barlow-Bold.ttf") format('ttf'), url("../fonts/barlow/Barlow-Bold.woff") format('woff');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow';
  background-color: #EFF6FF;
  font-weight: 400;
  box-sizing: border-box;
}

.main {
  margin-top: 35px;
  margin-bottom: 35px;
}

.wrap {
  max-width: 1340px;
  background-color: #fff;
  margin: 0 auto;
}

.main-wrap {
  display: flex;
  gap: 20px;
}

.main-logo {
  width: 600px;
  padding: 29px 50px;
  display: flex;
  background-image: url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-logo__title {
  color: #fff;
  font-size: 42px;
  letter-spacing: -2px;
  font-weight: 400;
}

.main-logo__double-zero {
  letter-spacing: -7px;
}

.main-logo__text-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 8px;
  padding-left: 10px;
}

.main-logo__text {
  color: #fff;
  font-size: 10px;
}

.main-form {
  padding-top: 90px;
  width: 600px;
}

.main-form__title {
  font-weight: 400;
  font-size: 24px;
  color: #2A4A5C;
  padding-bottom: 15px;
}

.main-form__desc {
  font-size: 14px;
  color: #7B8A92;
  padding-bottom: 50px;
}

.main-form__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-form__button-facebook {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  color: #fff;
  background-color: #255A9B;
  border: none;
  padding: 12px 50px 12px 25px;
  transition: all 0.2s;
}

.main-form__button-facebook:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-form__button-facebook:active {
  background-color: #0076B6;
}

.main-form__button-linkedin {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  font-size: 15px;
  background-color: #0076B6;
  border: none;
  padding: 12px 50px 12px 25px;
  transition: all 0.2s;
}

.main-form__button-linkedin:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-form__button-linkedin:active {
  background-color: #255A9B;
}

.main-form__text-small {
  padding: 40px;
  font-size: 12px;
  color: #2A4A5C;
}

.main-form__text-small::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #EEEEEE;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 10px;
  margin-left: 125px;
}

.main-form__text-small::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #EEEEEE;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 10px;
}

.main-form__inputs {
  display: flex;
  gap: 30px;
}

.main-form__email,
.main-form__phone {
  position: relative;
}

.main-form__email-desc,
.main-form__phone-desc {
  position: absolute;
  top: 2px;
  left: 10px;
  color: #AFAFAF;
  font-size: 14px;
}

.main-form__input-info {
  padding: 20px 82px 8px 10px;
  border: 1px solid #EFF6FF;
  transition: all 0.1s;
}

.main-form__input-info:focus {
  outline: none;
  border-left: 1px solid #3698FB;
}

.main-form__input-info:hover {
  cursor: pointer;
}

.main-form__title-text--secondary {
  padding-top: 40px;
}

.main-form__title-secondary {
  font-weight: 400;
  color: #2A4A5C;
  font-size: 22px;
}

.main-form__title-secondary--desc {
  padding-top: 10px;
  padding-bottom: 40px;
  color: #7B8A92;
  font-size: 14px;
}

.main-form__checkbox-container {
  display: flex;
  gap: 50px;
}

.checkbox-input__radio-label {
  padding-left: 10px;
  font-weight: 500;
  color: #2A4A5C;
  font-size: 18px;
}

.checkbox-input__info-icon {
  width: 12px;
  height: 12px;
}

.main-form__text-features {
  font-size: 14px;
  font-weight: 200;
  margin-top: 25px;
  width: 243px;
  color: #AFAFAF;
  border: 1px solid transparent;
  padding: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.main-form__confirm {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.main-form__confirm-text {
  color: #AFAFAF;

}

.main-form__confirm-link {
  color: #3698FB;
}

.main-form__button-confirm {
  background-color: #3698FB;
  color: #fff;
  border: none;
  font-size: 18px;
  margin-top: 60px;
  padding: 15px 70px 15px 70px;
  border-radius: 5px;
  border: 1px solid #3698FB;
  transition: all 0.3s;
  margin-bottom: 80px;
}

.main-form__button-confirm:hover {
  cursor: pointer;
  background-color: #fff;
  color: #3698FB;
}

.main-form__button-confirm:active {
  transform: scale(1.1);
}

@media (max-width: 1439px) {
  .wrap {
    max-width: 1024px;
  }

  .main-wrap {
    gap: 25px;
  }

  .main-logo {
    width: 500px;
    background-size: cover;
  }

  .main-logo__title {
    font-size: 38px;
  }

  .main-logo__double-zero {
    letter-spacing: -4px;
  }

  .main-logo__text-wrapper {
    padding-top: 18px;
    padding-left: 7px;
  }

  .main-logo__text {
    font-size: 8px;
  }

  .main-form {
    padding-top: 50px;
    max-width: 500px;
    padding-left: 10px;
  }

  .main-form__title {
    font-size: 26px;
    padding-bottom: 14px;
  }

  .main-form__desc {
    font-size: 18px;
    padding-bottom: 40px;
  }

  .main-form__buttons {
    gap: 20px;
  }

  .main-form__button-facebook {
    gap: 8px;
    font-size: 12px;
    padding: 15px 50px 15px 15px;
  }

  .main-form__button-linkedin {
    gap: 8px;
    font-size: 12px;
    padding: 15px 50px 15px 15px;
  }

  .main-form__text-small {
    padding: 50px;
  }

  .main-form__text-small::before {
    margin-left: 60px;
  }

  .main-form__inputs {
    gap: 20px;
  }

  .main-form__input-info {
    padding: 17px 35px 8px 10px;
  }

  .main-form__title-text--secondary {
    padding-top: 50px;
  }

  .main-form__title-secondary {
    font-size: 18px;
  }

  .main-form__title-secondary--desc {
    font-size: 12px;
  }

  .main-form__checkbox-container {
    gap: 20px;
  }

  .checkbox-input__radio-label {
    font-size: 18px;
  }

  .main-form__text-features {
    font-size: 11px;
    margin-top: 20px;
    width: 200px;
    padding: 8px;
  }

  .main-form__confirm {
    margin-top: 50px;
    gap: 8px;
  }

  .main-form__confirm-text {
    font-size: 12px;
  }

  .main-form__button-confirm {
    font-size: 15px;
    margin-top: 50px;
    padding: 15px 55px 15px 55px;
  }
}

@media (max-width: 1022px) {
  .wrap {
    max-width: 768px;
  }

  .main-logo {
    max-width: 350px;
    background-position-x: -100px;
  }

  .main-logo__title {
    font-size: 24px;
  }

  .main-logo__text-wrapper {
    padding-top: 9px;
    padding-left: 5px;
  }

  .main-logo__text {
    font-size: 6px;
  }

  .main-form {
    padding-top: 40px;
    width: 300px;
  }

  .main-form__title {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .main-form__desc {
    font-size: 13px;
    padding-bottom: 20px;
  }

  .main-form__buttons {
    gap: 17px;
    display: flex;
    flex-wrap: wrap;
  }

  .main-form__button-facebook {
    gap: 7px;
    font-size: 12px;
    padding: 10px 60px 10px 60px;
  }

  .main-form__button-linkedin {
    gap: 7px;
    font-size: 12px;
    padding: 10px 68px 10px 60px;
  }

  .main-form__text-small {
    padding-left: 63px;
  }

  .main-form__text-small::before {
    width: 75px;
    margin-left: -16px;
  }

  .main-form__text-small::after {
    width: 75px;
  }

  .main-form__inputs {
    flex-wrap: wrap;
    gap: 17px;
  }

  .main-form__input-info {
    padding: 17px 90px 8px 10px;
  }

  .main-form__title-text--secondary {
    padding-top: 25px;
  }

  .main-form__title-secondary--desc {
    font-size: 11px;
  }

  .main-form__checkbox-container {
    gap: 5px;
  }

  .checkbox-input__radio-label {
    padding-left: 2px;
    font-size: 10px;
  }

  .main-form__text-features {
    width: 250px;
    padding: 6px;
  }

  .main-form__confirm-text {
    font-size: 11px;
  }

  .main-form__button-confirm {
    font-size: 13px;
    margin-top: 40px;
    padding: 15px 90px 15px 90px;
  }
}

@media (max-width: 766px) {
  .wrap {
    width: 375px;

  }

  .main-wrap {
    background: none;
  }

  .main-logo {
    display: none;
  }

  .main-form {
    width: 350px;
    padding-left: 15px;
  }

  .main-form__button-facebook {
    gap: 5px;
    font-size: 11px;
    padding: 10px 14px 10px 10px;
  }

  .main-form__button-linkedin {
    gap: 5px;
    font-size: 11px;
    padding: 10px 14px 10px 10px;
  }

  .main-form__text-small {
    padding-left: 95px;
  }

  .main-form__inputs {
    flex-wrap: wrap;
  }

  .main-form__input-info {
    padding: 20px 165px 8px 10px;
  }

  .main-form__checkbox-container {
    gap: 8px;
  }

  .checkbox-input__radio-label {
    padding-left: 5px;
    font-size: 15px;
  }

  .main-form__text-features {
    font-weight: 200;
    width: 320px;
    padding: 10px;
  }

  .main-form__confirm-text {
    color: #AFAFAF;
  }

  .main-form__button-confirm {
    font-size: 18px;
    padding: 15px 105px 15px 105px;
  }
}